$bg-color: #181818;
$text-color: #d9d6d6;
$nav-bg-color: #222222;
$btn-bg-color: #fff;
$btn-text-color: #333;
$sign-bg-color: transparent;
$sign-text-color: #ffffff;
$validation-text-color: #dc3545;
$validation-inputBg-color: #dc35461c;