@import '../extends/extends',
        '../variables/index',
        '../media-query/media-query';
.auth-layout-wrapper {
    height: 100vh;
    background: $bg-color;
    background: url('../../../../public/login-bg.jpg');
    .container {
        @extend %flex-center;
        height: inherit;
        padding: 1.25rem;
        .form-box {
            @extend %flex-center;
            max-width: 500px;
            width: 100%;
            padding: 30px 40px;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 10px;
            background-color: $sign-bg-color;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            color: $sign-text-color;
            @include mobile {
                padding: 1rem;
            }
        }
    }
}