@import '../extends/extends',
        '../variables/index',
        '../media-query/media-query';
.container {
    @extend %flex-center;
    min-width: 100% !important;
    height: 100vh;
    padding: 1.25rem;
    .form-box {
        @extend %flex-center;
        background-color: $sign-bg-color;
        color: $sign-text-color;
        padding: 3rem;
        border-radius: 3px;
        max-width: 570px;
        width: 100%;
        max-height: 470px;
        height: 90%;
        @include mobile {
            padding: 1rem;
        }
    }
}