// @extend %flex-center;
@import '../variables/index';
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%button {
    outline: none;
    border: none;
    color: $btn-text-color;
    font-size: $btnFonts;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: $btn-bg-color;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .2s ease-in-out;
}
%input {
    width: 100%;
    border: none;
    outline: none;
}