@import '../media-query/media-query',
        '../variables/index';
.product-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(250px, auto);;
    gap: 2rem;
    margin-top: 1.5rem;
    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}