@import '../extends/extends';
@import '../variables/index';
form {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    @extend %flex-nav;
    flex-direction: column;
    justify-content: space-between !important;
    gap: 15px;
    h1 {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        font-size: $xlFonts;

    }
    .form-group {
        min-width: inherit;
        position: relative;
        @extend %flex-center;
        align-items: flex-start !important;
        flex-direction: column;
        input {
            margin-top: 10px;
            margin-bottom: 1.25rem;
            padding: 20px 45px 20px 20px;
            @extend %input;
            border: 2px solid rgba(255, 255, 255, .2) !important;
            border-radius: 40px !important;
            background: transparent;
            color: $sign-text-color;
            transition: all .2s ease;
            &::placeholder {
                color: white;
            }
            &:-internal-autofill-selected {
                background: transparent;
            }
        }
        .input-icon {
            position: absolute;
            top: 40%;
            right: 30px;
            transform: translateY(-40%);
            font-size: $mediumFonts;
        }
        input.error {
            background: $validation-inputBg-color;
            color: $validation-text-color;
            border: 2px solid $validation-text-color !important;
        }
        input.message {
            background: transparent;
            color: $validation-text-color;
            border: 2px solid #198754 !important;
        }
        .form-error-text {
            position: absolute;
            bottom: 0;
            left: 20px;
            @extend %flex-center;
            color: $validation-text-color;
            font-size: $smallFonts;
            .material-icons {
                margin-right: 8px;
                font-size: $smallFonts;
            }
        }
    }
    p.message {
        position: absolute;
        bottom: 27%;
        right: 32%;
        color: #198754;
    }
    button {
        width: 100%;
        height: 50px;
        margin-top: 1.5rem;
        @extend %button;
        font-weight: 700;
        border-radius: 40px;
        &:hover {
            background-color: #ffffffb2;
        }
    }
    p {
        margin: 1.5rem 0;
        a {
            margin-left: 5px;
            text-decoration: none;
            font-weight: bold;
            color: $sign-text-color;
            font-size: 18px;
            transition: color .2s ease-in-out;
            &:hover {
                color: #c0c0c0;
            }
        }
    }
}