@import '../extends/extends';
@import '../variables/index';
form {
    @extend %flex-nav;
    flex-direction: column;
    justify-content: space-around !important;
    min-width: 100%;
    min-height: 100%;
    h1 {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        font-size: $xlFonts;
    }
    .form-group {
        @extend %flex-center;
        align-items: flex-start !important;
        flex-direction: column;
        min-width: inherit;
        input {
            @extend %input;
            margin-bottom: 1.25rem;
            margin-top: 10px;
            width: 100%;
            background: rgba(240,240,240);
            border-bottom: 1px solid rgb(201, 201, 201);
            color: $sign-text-color;
            transition: all .2s ease;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            &:hover {
                background: rgba($color: #ffffff, $alpha: 1);
            }
            &:focus {
                background: rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
    button {
        @extend %button;
        margin-top: 1.5rem;

    }
    p {
        margin: 1.5rem 0;
    }
}