@import '../variables/index',
        '../extends/extends';
aside {
    padding: 1.25rem;
    border-right: 1px solid  $nav-bg-color;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 1px;
    background-color: $nav-bg-color;
    transition: all .2s ease-in;
    ul {
        li{
            a {
                margin: 0 -20px;
                margin-bottom: 1rem;
                padding: 1rem 20px;
               @extend %flex-center;
               justify-content: flex-start !important;
               color: $text-color;
               text-decoration: none;
               text-transform: capitalize;
               transition: all .2s ease;
                &:hover {
                    background-color: #d9d6d611;
                }
                span {
                    margin-right: 2rem;
                }
                p {
                    width: 100%;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                }
            }
        }
    }
    @include tablet {
        overflow: hidden;
    }
    @include mobile {
        overflow: hidden;
    }
}
aside.activeBtn {
    overflow: hidden;
}